.empty {
  margin: 0;
  padding: 0;
}
.list_img {
  padding-top: 20px;
  padding-right: 20px;
}
.list_img > img {
  width: 100%;
  height: 356px;
}
.pro_jie {
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 80px;
}
.pro_jie h1 {
  display: block;
  color: #000;
  font-size: 20px;
  line-height: 20px;
  padding-top: 15px;
  padding-left: 5px;
}
.pro_jie .biaoti {
  background-color: #d0302b;
  color: #fff;
  text-align: right;
  padding-right: 38px;
  line-height: 26px;
  font-size: 12px;
  margin: 40px 2px 0 2px;
}
.pro_jie .biaoti b {
  color: #fbd34a;
  padding-left: 20px;
  font-size: 17px;
}
.pro_jie > span {
  display: block;
  margin: 0px 2px 0 2px;
  background-color: #fbebeb;
  line-height: 60px;
  color: #c9bbba;
  font-size: 20px;
  padding-left: 15px;
}
.pro_jie > b {
  display: block;
  height: 1px;
  margin: 0px 2px 0 2px;
  background-color: #d0302b;
}
.pro_jie p {
  color: #555;
  font-size: 14px;
  padding-left: 10px;
}
.pro_jie .jieshao {
  color: #000;
  font-size: 12px;
  padding-left: 16px;
}
.pro_jie button {
  margin: 35px 38px 0 20px;
  font-size: 15px;
  color: #fff;
}
.pro_jie button span {
  padding-right: 10px;
  font-size: 18px;
}
.pro_gongsi {
  padding-left: 20px;
}
.pro_gongsi > div {
  border: solid 1px #e6e6e6;
  background-color: #fff;
  margin-top: 20px;
}
.pro_gongsi > div > p {
  font-size: 16px;
  line-height: 20px;
  border-bottom: solid 1px #e6e6e6;
  padding-bottom: 10px;
  text-align: center;
}
.pro_gongsi > div .pingjia {
  text-align: center;
}
.pro_gongsi > div .pingjia li {
  border-right: solid 1px #e6e6e6;
}
.pro_gongsi > div .pingjia li h5 {
  color: #c62d28;
  font-size: 14px;
  line-height: 20px;
}
.pro_gongsi > div .pingjia li div {
  font-size: 14px;
  color: #b4b4b4;
}
.pro_gongsi > div .pingjia li:nth-child(3) {
  border-right: solid 0px #e6e6e6;
}
.pro_gongsi > div .lunbo img {
  margin-top: 20px;
  height: 100px;
  width: 100px;
}
.pro_gongsi > div .lunbo span {
  margin-left: 1px;
}
.pro_gongsi > div .an_btn {
  background-color: #c62d28;
  text-align: center;
  border-radius: 28px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  margin-top: 20px;
  color: #fbd34a;
  font-size: 20px;
}
.pro_gongsi > div .jinru {
  margin-top: 20px;
  margin-bottom: 30px;
}
.pro_gongsi > div .jinru li {
  background-color: #999;
  float: left;
  width: 100px;
  margin-left: 20px;
  text-align: center;
}
.pro_gongsi > div .jinru li span {
  color: #c62d28;
  line-height: 40px;
}
.pro_gongsi > div .jinru li:nth-child(2) {
  background-color: #999;
  float: left;
  width: 100px;
  margin-left: 20px;
  text-align: center;
}
.pro_gongsi > div .jinru li:nth-child(2) span {
  color: #fbd34a;
  line-height: 40px;
}
.pro_mid {
  margin-top: 30px;
  background-color: #fff;
}
.pro_mid .pro_mid_left {
  background-color: #fff;
}
.pro_mid .pro_mid_left h4 {
  background-color: #ccc;
  font-size: 14px;
  padding-left: 20px;
  line-height: 20px;
  color: #c62d28;
  margin-bottom: 28px;
}
.pro_mid .pro_mid_left > span {
  padding: 20px 0 0 10px;
}
.pro_mid .pro_mid_left .duoxuan {
  margin-top: 20px;
}
.pro_mid .pro_mid_left .duoxuan input:nth-child(1) {
  margin-left: 70px;
  margin-right: 5px;
}
.pro_mid .pro_mid_left .duoxuan input:nth-child(2) {
  margin-left: 20px;
  margin-right: 5px;
}
.pro_mid .pro_mid_left button {
  margin-left: 70px;
  margin-top: 30px;
}
.pro_mid .pro_mid_left .fenlei li:nth-child(1) {
  color: #c62d28;
  padding-left: 10px;
  line-height: 50px;
}
.pro_mid .pro_mid_left .fenlei li {
  background-color: #ccc;
  line-height: 40px;
  border-bottom: solid 1px #666;
  font-size: 14px;
}
.pro_mid .pro_mid_left .fenlei li span {
  padding-left: 10px;
  padding-right: 10px;
}
.pro_mid .pro_mid_left .lei_img img {
  margin-top: 40px;
  width: 100%;
  height: 200px;
}
.pro_mid .pro_mid_right {
  background-color: #fff;
  padding-left: 10px;
  padding-top: 5px;
}
.pro_mid .pro_mid_right .biaoti_right {
  background-color: #c62d28;
}
.pro_mid .pro_mid_right .biaoti_right span {
  background-color: #fff;
  margin-left: 10px;
  line-height: 20px;
  padding: 0 10px 0 10px;
  color: #c62d28;
}
.pro_mid .pro_mid_right .biaoti_nei {
  height: 800px;
}
