#home_top {
  background-color: #fff;
}
#home_top #daohang {
  background: #f0f0f0;
  height: 38px;
  border-bottom: 1px solid #ccc;
  color: #666;
  line-height: 38px;
}
#home_top #daohang span {
  padding-left: 10px;
  padding-right: 10px;
}
#home_top #daohang .reg {
  text-align: right;
}
#home_top #top_logo {
  height: 110px;
}
#home_top #top_logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#home_top #top_search {
  height: 110px;
}
#home_top #top_search .search_body {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}
#home_top #top_search .search_body #top_key {
  border: 3px solid #ff3300;
  width: 422px;
  height: 42px;
  padding-left: 30px;
  background: url(../img/search_bk.jpg) no-repeat left;
}
#home_top #top_search .search_body #top_search_btn {
  border: 3px solid #ff3300;
  width: 116px;
  background: #ff3300;
  height: 42px;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  display: inline-block;
}
#home_top #top_search .search_body #top_search_btn:hover {
  background: #ff0000;
  border: 3px solid #ff0000;
}
#home_top #top_search .search_body p {
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
}
#home_top #top_tel {
  height: 110px;
}
#home_top #top_tel div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #666;
  text-align: center;
}
#home_top #menu {
  height: 37px;
  border-bottom: 2px solid #ff3300;
}
#home_top #menu #menu_list {
  width: 190px;
  height: 37px;
  background: #ff3300;
  color: #fff;
  line-height: 37px;
  padding-left: 15px;
}
#home_top #menu #menu_list:hover {
  background: #ff0000;
}
#home_top #menu #menu_btn {
  position: absolute;
}
#home_top #menu #type_list {
  display: none;
  position: absolute;
  z-index: 39999;
  top: 37px;
  left: 0px;
  width: 190px;
  height: 437px;
  background: #333;
  opacity: 0.85;
}
#home_top #menu #type_list .item {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ccc;
  border-bottom: 1px  dotted #aaa;
}
#home_top #menu #type_list .item li {
  padding-bottom: 10px;
  font-size: 16px;
}
#home_top #menu #type_list .item img {
  width: 30px;
  height: auto;
}
#home_top #menu #type_list .item a {
  font-size: 12px;
  color: #ccc;
  white-space: nowrap;
}
#home_top #menu #type_list .item a:hover {
  color: #ff3300;
}
#home_top #menu #menu_title {
  padding-top: 10px;
}
#home_top #menu #menu_title a {
  font-size: 16px;
  color: #666;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
}
#home_top #menu #menu_title a:hover {
  color: #ff0000;
}
#home_top #menu #slg {
  font-size: 26px;
  color: #ccc;
  text-align: center;
}
/*头部end*/
